{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Way Halim Permai{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5/dist/fancybox/fancybox.css" />

    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}?v=1.1" />

    {% block extra_css %}{% endblock %}

    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>

    <header>
        <div class="navbar">
            <div class="navbar-left">
                <a href="{% url 'homepage' %}">
                    <img src="{% static 'assets/logo.png' %}" alt="Logo">
                </a>
                <a href="{% url 'homepage' %}">beranda</a>
                <a href="{% url 'profil_lengkap' %}">profil desa</a>
                <a href="{% url 'berita_terbaru' %}">Berita</a> <a href="{% url 'galeri' %}">galeri</a>
                <a href="{% url 'daftar_umkm' %}">Umkm</a>
                <a href="{% url 'hubungi_kami' %}">Hubungi Kami</a>
            </div>
            <div class="navbar-right">
                <a href="{% url 'admin:index' %}">login</a>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="text">
            <h1>Kontak kami</h1>
            <p>
                +62 xxxx xxxx xxxx
                <br>
                © Way halim Permai 2025
            </p>
        </div>
        <div class="logo-container">
            <a href="https://instagram.com">
                <img src="{% static 'assets/instagram.svg' %}" alt="Logo instagram">
            </a>
            <a href="https://facebook.com">
                <img src="{% static 'assets/facebook.svg' %}" alt="Logo facebook"></a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5/dist/fancybox/fancybox.umd.js"></script>
    <script>
      Fancybox.bind("[data-fancybox]", {}); // Inisialisasi FancyBox
    </script>

</body>
</html>