

.page-title-container {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--warna-aksen); /* VARIABEL */
}
.page-title-container h1 {
    font-size: 2.5em;
    color: var(--warna-utama); 
    margin: 0;
    padding-left: 40px;
}

.search-container { 
    margin-bottom: 30px;
    max-width: 350px; 
    width: 100%;
    padding-left: 40px;
}
.search-form { display: flex; width: 100%; }
.search-bar {
    flex-grow: 1; padding: 15px; font-size: 1.1em;
    border: 2px solid #ccc; border-radius: 8px 0 0 8px;
}
.search-button {
    padding: 15px 30px; font-size: 1.1em; 
    background-color: var(--warna-utama); /* VARIABEL */
    color: var(--warna-putih); /* VARIABEL */
    border: none; cursor: pointer; border-radius: 0 8px 8px 0;
}
.search-button:hover {
    background-color: var(--warna-aksen); /* VARIABEL */
}

.katalog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 40px;
}

.katalog-card {
    background-color: var(--warna-putih); 
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: var(--warna-teks);
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    transition: box-shadow 0.2s ease-in-out, background-color 0.3s ease;
}
.katalog-card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: var(--warna-kartu); 
}
.katalog-card-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.katalog-card-content {
    padding: 15px;
}
.katalog-card-title {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.katalog-card-meta {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
    display: block;
}
.katalog-card-location {
    font-size: 0.9em;
    color: var(--warna-teks);
    font-weight: 500;
}


@media (max-width: 992px) {
    .katalog-wrapper {
        padding: 20px;
        margin: 10px auto;
        flex-grow: 1; 
    }
    .page-title-container h1 {
        font-size: 1.8em;
        padding-left: 0;
    }
    .search-container {
        max-width: 100%;
        padding-left: 0;
    }
    .katalog-grid {
        padding: 0; 
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

.btn-daftar {
    padding: 15px 25px; 
    background-color: var(--warna-aksen); /* MENGGUNAKAN VARIABEL */
    color: var(--warna-putih); 
    text-decoration: none; 
    border-radius: 8px; 
    font-weight: 600;
    transition: background-color 0.2s;
}
.btn-daftar:hover {
    background-color: var(--warna-utama); /* MENGGUNAKAN VARIABEL */
}