:root {
    --warna-utama: rgb(134, 25, 25); 
    --warna-aksen: #cfcfcf; 
    --warna-latar: #FFFDE3; 
    --warna-kartu: #ffffff;
    --warna-teks: crimson;
    --warna-putih: #FFE7E9;
    
    --lebar-konten-maksimal: 1200px; 
  }
  
  @font-face {
    font-family: 'OpenSans';
    src: url('../assets/OpenSans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
body{
    margin: 0px;
    font-family: 'OpenSans', Calibri, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 0;
    background-color: var(--warna-putih); 
    color: var(--warna-teks);
}

h1 {
    font-size: 36px;
}

div p {
    color: #333;
}

.main-content-wrapper {
    flex-grow: 1; 
}
.navbar{
    background-color: var(--warna-utama);
    padding: 5px 10px; 
    font-size: 12px;
    display: flex; 
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--lebar-konten-maksimal);
    margin: 0 auto;
    padding: 0 20px; 
    box-sizing: border-box;
}


.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left a{
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #b8b8b8;
    white-space: nowrap;
    
    padding-left: 10px;
    padding-right: 10px;

    position: relative; 
    padding-bottom: 5px; 
    transition: color 0.3s ease-in-out; 
    
    margin-left: 5px; 
}

.navbar-left a:hover{
    color: var(--warna-putih);
}
.navbar-right a:hover{
    color: var(--warna-putih);
}
.navbar-left img{
    padding-top: 0;
    width: 70px;
    margin-right: 20px;
}

.navbar-left a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: gold;
    
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: left; 
    
    border-radius: 2px; 
}

.navbar-left a:hover::after {
    transform: scaleX(1);
}

.navbar-left a.active {
    color: #ffffff;
}

.navbar-left a.active::after {
    transform: scaleX(1);
}

.dropdown{
    display: inline-block;
    position: relative;
}
.dropbtn{
    text-decoration: none;
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--warna-utama);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:hover{
    color: var(--warna-aksen);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.navbar-right a{
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #b8b8b8;
}
.navbar-right {
    padding-right: 0; 
    display: flex;
    align-items: center;
}

.Welcome {
    background-color: firebrick;
    padding: 180px 0 100px 0; 
}

.welcome-content {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    max-width: var(--lebar-konten-maksimal);
    width: 100%;
    margin: 0 auto;
    margin-top: -50px;
    padding: 0 20px;
    box-sizing: border-box;
}

.Welcome h1{
    padding-top: 0; 
    padding-left: 0;
    color: var(--warna-putih); 
    text-align: center; 
    font-size: 52px; 
}

.welcome-content img{
    display: block;
    width: 200px; 
    height: auto;
}

.content{
    color: var(--warna-teks);
    background-color: var(--warna-putih);
    max-width: var(--lebar-konten-maksimal);
    width: 100%;
    margin: 100px auto; 
    padding: 0 20px; 
    box-sizing: border-box;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px; 
}

.content-text {
    flex: 1; 
    min-width: 50%; 
}

.content-title,
.berita-title {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.content-title img,
.berita-title img {
    width: 30px; 
    height: 30px;
}


.content-img {
    flex-shrink: 0; 
    width: 45%; 
    max-width: 500px; 
    height: auto; 
    border-radius: 8px; 
}

.content p{
    font-size: 20px;
}

.Berita {
    background-color: var(--warna-kartu); 
    padding: 50px 0; 
}

.berita-content {
    max-width: var(--lebar-konten-maksimal);
    width: 100%;
    margin: 0 auto;
    padding: 0 20px; 
    box-sizing: border-box;
}

.Berita h1{
    padding-left: 0; 
    margin-bottom: 0px;
    margin-top: 0; 
}
.garis{
    border: none;
    border-top: 10px solid var(--warna-teks); 
    margin: 15px 0 0 0;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, auto); 
    gap: 30px; 
    padding: 50px 0 0 0; 
    background-color: var(--warna-kartu); 
    justify-content: center;
}

.card {
    background-color: var(--warna-putih); 
    overflow: hidden;
    transition: transform 0.1s ease-in-out, background-color 0.3s ease;
    display: block;
    border-radius: 8px;
    border: 1px solid #eee;
    width: 100%; 
    max-width: 380px; 
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0px 10px #ffc107;

}
.card img{
    width: 100%;
    height: 220px; 
    object-fit: cover; 
}
.card a{
    text-decoration: none;
}
.isiberita{
    padding-left: 20px;
    padding-bottom: 10px; 
    color: var(--warna-teks);
}
footer{
    text-transform: uppercase;
    background-color: var(--warna-utama);
    color: var(--warna-putih);
    padding: 20px 0; 
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -5px 20px rgba(220, 20, 60, 0.5);
    z-index: 1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--lebar-konten-maksimal);
    margin: 0 auto;
    padding: 0 20px; 
    box-sizing: border-box;
}

footer h1{
    font-size: 16px;
    margin: 0px;
}

footer p{
    margin: 10px 0 0 0;
    font-size: 14px;
}

.contact-img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

.contact-p {
    color: #ffffff;
}

.logo-container{
    display: flex;
    gap: 50px;
    margin-right: 0; 
}

.sosmed-img{
    width: 36px;
    height: 36px;
}

@media (max-width: 992px) {
    .navbar {
        position: static;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .navbar-content, .footer-content, .welcome-content, .berita-content, .content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-left a {
        white-space: normal; 
        margin-left: 2px; 
        margin-right: 2px;
    }
    .navbar-left img {
        padding-top: 0;
        margin-right: 10px;
    }
    body {
        padding-top: 0;
    }
    .navbar-right {
        padding-right: 0; 
    }

    .Welcome {
        padding: 40px 0; 
    }
    .welcome-content {
        flex-direction: column;
        align-items: center;
    }
    .Welcome h1 {
        padding: 0 0 20px 0; 
        text-align: center;
        font-size: 40px; 
    }
    .welcome-content img {
        width: 300px;
    }

    .content {
        flex-direction: column; 
        margin: 40px auto;
    }
    .content-text {
        text-align: center; 
    }
    .content-title,
    .berita-title {
        justify-content: center;
    }
    
    .content-img {
        width: 100%; 
        margin-top: 20px; 
    }
    
    .card-container {
        grid-template-columns: 1fr;
        padding: 20px 0 0 0; 
        gap: 20px;
    }

    .Berita {
        padding: 30px 0;
    }
    .Berita h1, .garis {
        padding-left: 0; 
        margin-left: 0;
        margin-right: 0;
    }
}