/* Styling Umum */
body {
    background-color: brown; 
    color: black; 
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.login-container {
    width: 90%;
    max-width: 380px; 
    padding: 40px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    background-color: white;
    border-radius: 8px; 
}

h1 {
    font-size: 2.2em;
    margin-bottom: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

.input-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    background-color: rgb(222, 220, 220); 
    color: #fff;
    border: 1px solid #333; 
    border-radius: 4px;
    font-size: 1.1em;
    box-sizing: border-box; 
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #fff; 
    outline: none; 
}

.login-button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    background-color: rgb(222, 220, 220); 
    color: #000;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    letter-spacing: 1px;
}

.login-button:hover {
    background-color: #ccc; 
}


.forgot-password {
    display: block;
    margin-top: 20px;
    color: black; 
    text-decoration: none;
    font-size: 0.95em;
    transition: color 0.3s;
}

.forgot-password:hover {
    color: #fff; 
}