{% extends 'base.html' %} {% block content %}
<h2>Upload Data Statistik (Excel)</h2>
<p>Pastikan file Excel Anda memiliki 3 kolom dengan nama persis: <strong>Kategori</strong>, <strong>Label</strong>, dan <strong>Jumlah</strong>.</p>
<p>Contoh isi 'Kategori': Pendidikan, Pekerjaan, dll.</p>

{% if messages %}
    {% for message in messages %}
    <div class.="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>
{% endblock %}